<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Buhguh Time!</a>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row text-center">
        <div class="col-xs-3">
            <h1>On the plate</h1>
        </div>
        <div class="col-xs-4 col-xs-offset-1">
            <h1>Menu</h1>
        </div>
        <div class="col-xs-3 col-xs-offset-1">
            <h1>Devoured</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 pgBox">
            <!-- new burgers go here -->
            <ul class="text-center list-unstyled">
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger id=id}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-xs-4 col-xs-offset-1 pgBox">
            <!-- menu goes here -->
            <ul class="text-center list-unstyled">
                <li class="menuItm">Roadhouse Burger</li>
                <li class="menuItm">The Sheyboygan</li>
                <li class="menuItm">Lumberjack's Manwhich</li>
                <li class="menuItm">Xtreme Hart Attack</li>
                <li class="menuItm">Turducken</li>
                <li class="menuItm">Patty's Patties n Cheez</li>
                <li class="menuItm">Buhguh</li>
            </ul>
        </div>
        <div class="col-xs-3 col-xs-offset-1 pgBox">
            <ul class="text-center list-unstyled">
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/burger}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>